.resistor_wrapper {
  width: 100vw;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_body {
  background-color: #ffc34c;
  min-width: 24rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2.6rem;
  box-shadow: 0 0 1.6rem #90ffec;
}
@media only screen and (max-width: 600px) {
  .main_body {
    min-width: 20rem;
    height: 7.3rem;
  }
}
@media only screen and (min-width: 1150px) {
  .main_body {
    min-width: 27rem;
    height: 9rem;
  }
}

.band_wrapper {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  height: inherit;
  width: 80%;
}
.band_spacer {
  flex-grow: 1;
}
.band_stopper {
  min-width: 2rem;
}

.pin {
  z-index: 1;
  background-color: #000000;
  width: 6rem;
  height: 0.66rem;
  box-shadow: 0 0 0.6rem #90ffec;
}
.pin.left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.pin.right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
