:root {
  /* Main Color Palette */
  --black: #000000;
  --white: #ffffffeb;
  --drk_green: #2a4a00;
  --lt_green: #68b800;

  /* Resistor Band Colors */
  --res_black: #000000;
  --res_brown: #80461f;
  --res_red: #ff0000;
  --res_orange: #ff9900;
  --res_yellow: #ffff00;
  --res_green: #008000;
  --res_blue: #0000ff;
  --res_violet: #9400c5;
  --res_grey: #808080;
  --res_white: #ffffff;

  /* Other Colors */
  --resistor_body_color: light-dark(#ffb727, #ffc34c);
  --band_color: #000000;
  --resistor_shadow: light-dark(#006655, #31ffdd);
  --pin_color: #000000;

  color-scheme: light dark;

  color: light-dark(var(--black), var(--white));
  background-color: light-dark(var(--white), var(--black));

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}
